SECRET_KEY=MaSuperCleSecrete2026
ADMIN_EMAIL=leurquinstephanie@gmail.com
DATABASE_URL=sqlite:///saas_pro.db
OLLAMA_URL=http://127.0.0.1:11434/api/generate
OLLAMA_MODEL=llama3.2:3b
GROQ_API_KEY=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
USE_GROQ=true
